// ----------------------------------------------
// Intro
// ----------------------------------------------


.logo
	width: 5em

.intro-text
	margin-top: 16%
	@media only screen and (min-width: $second-break)
		width: 90%
		margin-top: 40%





.graphic
	@media only screen and (min-width: $second-break)
		width: 60%
		margin-top: 3em

.divider
	width: 100%
	display: block
	height: 2px
	background: #4e9dff
	margin-bottom: $l-s

.contact-link
	@media only screen and (min-width: $second-break)
		text-align: right