// ----------------------------------------------
// Intro
// ----------------------------------------------


.logo
	width: 5em

.intro-text
	margin-top: 16%
	margin-bottom: 2em
	@media only screen and (min-width: $second-break)
		width: 90%
		margin-top: 40%

.intro-text-container
	margin-bottom: $l-xxl
	text-align: center
	@media only screen and (min-width: $second-break)
		margin-bottom: 0
		text-align: left
		float: left


.graphic-wrapper
	text-align: center
	position: relative
	padding-bottom: $l-xxl
	max-width: 322px
	margin: 0 auto
	@media only screen and (min-width: $second-break)
		text-align: right
		float: right
		max-width: 334px
		width: 35%




.phone-mask
	position: absolute
	top: 0
	left: 0
	z-index: 10
	width: 100%
	height: 100%
	img
		width: 100%

.home-video
	position: absolute
	top: 6%
	left: 0
	width: 100%
	height: 100%


.video-wrapper
	width: 87%
	height: 0
	padding-bottom: 182%
	position: relative
	overflow: hidden
	text-align: center
	margin: 0 auto

.divider
	width: 100%
	display: block
	height: 2px
	background: #4e9dff
	margin-bottom: $l-s

.contact-link
	@media only screen and (min-width: $second-break)
		text-align: right