// ----------------------------------------------
// Intro
// ----------------------------------------------


.logo
	width: 3.5em
	+translateY(10em)
	+opacity(0)
	margin: 0 auto
	p
		font-weight: 400
	@media only screen and (min-width: $second-break)
		margin: 0 0
		p
			margin-left: 2px

.intro-text
	margin-top: 13%
	margin-bottom: 2em
	+translateY(10em)
	+opacity(0)
	@media only screen and (min-width: $second-break)
		width: 90%
		margin-top: 30%

.primary-btn
	+translateY(10em)
	+opacity(0)

.intro-text-container
	margin-bottom: $l-xxl
	text-align: center
	@media only screen and (min-width: $second-break)
		margin-bottom: 0
		text-align: left
		float: left



.graphic-wrapper
	text-align: center
	position: relative
	padding-bottom: $l-xxl
	max-width: 322px
	margin: 0 auto
	+opacity(0)
	+translateY(10em)
	@media only screen and (min-width: $second-break)
		text-align: right
		float: right
		max-width: 100%
		width: 40%
		// margin-top: -13%
		+translateY(-10em)




.footer
	@media only screen and (min-width: $second-break)
		+opacity(0)



@-webkit-keyframes phone-bounce
	0%
		+translateY(-50em)
			
	20%, 60%, 90%, 100% 
		+translateY(0em)
	40%
		+translateY(-3em)
	70%
		+translateY(-1.5em)




.show-phone
	+translateY(0em)
	+opacity(1)
	+single-transition(all, 0.5s, ease-out, 0.3s)

.show-logo
	+translateY(0em)
	+opacity(1)
	+single-transition(all, 0.35s, ease-out, 0.3s)

.show-text
	+translateY(0em)
	+opacity(1)
	+single-transition(all, 0.35s, ease-out, 0.4s)

.show-btn
	+translateY(0em)
	+opacity(1)
	+single-transition(all, 0.5s, ease-out, 0.4s)

.show-footer
	+opacity(1)
	+single-transition(all, 0.35s, ease-out, 1s)

.phone-mask
	position: absolute
	top: 0
	left: 0
	z-index: 10
	width: 100%
	height: 100%
	img
		width: 100%

.home-video
	position: absolute
	top: 6%
	left: 0
	width: 100%
	height: 100%


.video-wrapper
	width: 87%
	height: 0
	padding-bottom: 182%
	position: relative
	overflow: hidden
	text-align: center
	margin: 0 auto

.divider
	width: 100%
	display: block
	height: 2px
	background: #4e9dff
	margin-bottom: $l-s

.contact-link
	@media only screen and (min-width: $second-break)
		text-align: right


.feature-list
	h2
		font-size: $f-m
	p
		line-height: 1.3

	@media only screen and (min-width: $first-break)
		+columns(200px 3)

		li
			+inline-block



