@import "normalize.sass"
@import "compass"

@import "partials/constants.sass"
@import "partials/mixins.sass"


html
  width: 100%
  height: 100%
  min-height: 100%
  font-size: 1em


body
  font-size: 100%
  height: 100%
  min-height: 100%
  margin: 0
  padding: 0
  width: 100%
  overflow-x: hidden
  color: $c-darkgrey
  font-family: "brandon-grotesque",sans-serif
  -webkit-font-smoothing: antialiased
  background: $c-greybg
  font-weight: 400

ul, ol
  list-style-type: none
  margin: 0
  padding: 0

a:link, a:visited
  text-decoration: none
  color: white

a.inline-link, a.inline-link:visited
  text-decoration: none
  color: $c-darkgrey
  +opacity(0.5)
  +transition-property(opacity)
  +transition-duration(0.5s)
  +transition-timing-function(ease-out)
  &:hover, &:focus
    color: $c-blue
    +opacity(1)

a.grey-link, a.grey-link:visited
  color: $c-darkgrey
  &:hover, &:focus
    color: lighten($c-darkgrey, 12%)
    

a.banner-link, a.banner-link:visited
  border-bottom: 1px solid #E6E6E6
  text-align: center
  padding: 1em
  width: 100%
  display: block
  color: #FF3366
  text-transform: uppercase
  font-size: 0.7em
  font-weight: 600
  transition: (transform, ease-out, 0.2s)
  &:hover, &:focus
    transform: (translateY, 5px)

.invision-logo
  width: 16px
  top: 3px
  position: relative
  padding: 0 5px


img
  max-width: 100%
  height: auto 
  width: auto 



@import "partials/typography.sass"
@import "partials/navigation.sass"
@import "partials/layout.sass"
@import "partials/ui.sass"


@import "pages/home.sass"

  