---
title: "Napkin - Design Quick Mocks On Your Phone"
description: "Napkin is an app for designing quick mocks on your phone"
---

- @body_class = 'page-home'
- @page_class = ''

%header
	.l-module
		.l-container--narrow
			.one-half.intro-text-wrapper
				#logo.logo
					%img{:src=>"img/napkin-logo.png", :alt=>"Napkin Logo"}	
					%p.text-white
						Napkin
				.intro-text#intro-text
					%h1.header.text-white
						Design quick mocks on your iPhone.

				%a.primary-btn#primary-button{:href=>"http://www.scottsavarie.ca", :alt=>"App Store Link"}
					%span Get it on the app store
			.one-half.header-graphic#graphic-wrapper
				.video-wrapper
					<video webkit-playsinline id="home-video--intro"class="home-video" autoplay="autoplay" loop="true"><source src="videos/app-video.mp4" type="video/mp4" /><source src="videos/app-video.ogv" type="video/ogv"/><source src="videos/app-video.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=videos/123_bannervid.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--></object></video>
				.phone-mask
					%img.graphic{:src=>"img/iphone.png", :alt=> "Napkin Mockup"}




%section.l-module--spaced
	.l-container--narrow
		.graphic-wrapper--left.layers-graphic
			%img{:src=>"img/layers-panel.png", :alt=> "Napkin Layers Panel"}
		.layers-text-wrapper
			%h1.header.text-white
				Layer Controls
			%p.text-white
				Add Rectangles, Photos from your camera roll, text labels and icons from a library to your canvas. 
			%ul.features-list
				%li
					Feature One
				%li
					Feature One
				%li
					Feature One



%section.l-module--spaced
	.l-container--narrow
		.graphic-wrapper--right.canvas-graphic
			%img.graphic{:src=>"img/canvas.png", :alt=> "Napkin Canvas"}
		.one-half.text-wrapper--left
			%h1.header.text-white
				Canvas
			%p.text-white
				Add Rectangles, Photos from your camera roll, text labels and icons from a library to your canvas. 
			%ul.features-list
				%li
					Feature One
				%li
					Feature One
				%li
					Feature One


%section.l-module--spaced
	.l-container--narrow
		.graphic-wrapper--left.controls-graphic
			%img.graphic{:src=>"img/editing-controls.png", :alt=> "Napkin Editing Controls"}
		.one-half.text-wrapper--left
			%h1.header.text-white
				Editing Controls
			%p.text-white
				Add Rectangles, Photos from your camera roll, text labels and icons from a library to your canvas. 
			%ul.features-list
				%li
					Feature One
				%li
					Feature One
				%li
					Feature One



%footer.footer#footer
	.l-container--narrow
		%h1.text-white.header
			Start Designing Mocks On Your Phone.
		.divider
		%p.text-white.one-half.fl
			Designed and coded by <a class="inline-link" href = "http://www.scottsavarie.ca">Scott Savarie</a>
		%a.one-half.fl.contact-link.inline-link{:href=>"mailTo:hello@napkinapp.com", :alt=>"Napkin App Contact"}
			%span hello@napkinapp.com

