---
title: "Napkin - Design Quick Mocks On Your iPhone"
description: "Napkin is an app for designing quick mocks on your iphone."
---

- @body_class = 'page-home'
- @page_class = ''

%header.l-module	
	.l-container--narrow
		.one-half.intro-text-wrapper
			#logo.logo
				%img{:src=>"img/napkin-logo.png", :alt=>"Napkin Logo"}	
				%p
					Napkin
			.intro-text#intro-text
				%h1.header
					Design quick mocks, directly on your phone.

			%a.primary-btn.header-btn#primary-button{:href=>"https://itunes.apple.com/us/app/napkin-sketch/id945447952?ls=1&mt=8#", :alt=>"App Store Link"}
				%span.apple &#63743
				%span Get it on the app store
		.one-half.header-graphic#graphic-wrapper
			.video-wrapper
				<video webkit-playsinline id="home-video--intro"class="home-video" autoplay="autoplay" poster="videos/app-video.jpg"><source src="videos/app-video.mp4" type="video/mp4" /><source src="videos/app-video.ogv" type="video/ogv"/><source src="videos/app-video.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=videos/app-video.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--></object></video>
			.phone-mask
				%img.graphic{:src=>"img/iphone.png", :alt=> "Napkin Mockup"}

.scroll-wrapper
	%section.l-module--spaced.border-top.layers-wrapper.max-height
		.l-container--narrow
			.graphic-wrapper--left.layers-graphic#layers-graphic
				%img{:src=>"img/layers-panel.png", :alt=> "Napkin Layers Panel"}
			.text-wrapper--right.layers-text
				%h1.header
					Layer Controls
				%p
					Napkin lets you add various different layer types to each artboard and control their appearance. 
				%ul.features-list
					%li
						Add various layers to canvas
					%li
						Layers snap to grid
					%li
						Control status bar appearance



	%section.l-module--spaced.border-top.canvas-wrapper.max-height
		.l-container--narrow
			.graphic-wrapper--right.canvas-graphic#canvas-graphic
				%img.graphic{:src=>"img/canvas.png", :alt=> "Napkin Canvas"}
			.one-half.text-wrapper--left.canvas-text
				%h1.header
					Artboards
				%p
					Napkin now has multiple artboards to allow you to quickly visualize multiple ideas or flows.
				%ul.features-list
					%li
						Double tap anything to edit
					%li
						Two finger tap to duplicate
					%li
						Artboards save automatically


	%section.l-module--spaced.border-top.controls-wrapper.max-height
		.l-container--narrow
			.graphic-wrapper--left.controls-graphic#controls-graphic
				%img.graphic{:src=>"img/editing-controls.png", :alt=> "Napkin Editing Controls"}
			.one-half.text-wrapper--right.controls-text
				%h1.header
					Editing Controls
				%p
					Edit the properties for any layer that you double tap on. You can also change the layer order, lock layers, or delete them. 
				%ul.features-list
					%li
						Edit layer properties
					%li
						Locking and layering 
					%li
						Deleting layers



	%footer.l-module--spaced.footer#footer.border-top
		.l-container--narrow
			.cta-wrapper
				%h1.header.cta-header
					Start designing mocks on your phone.
				%a.primary-btn.cta-button{:href=>"https://itunes.apple.com/us/app/napkin-sketch/id945447952?ls=1&mt=8#", :alt=>"App Store Link"}
					%span.apple &#63743
					%span Get it on the app store
			.divider
			%p.one-half.fl
				Made by <a class="inline-link" href = "http://www.scottsavarie.ca">Scott Savarie</a>
			.one-half.fl.contact-link
				%a.inline-link{:href=>"mailTo:hello@designwithnapkin.com", :alt=>"Napkin App Contact"}
					%span Email
				%a.inline-link{:href=>"http://twitter.com/napkindesign", :alt=>"Napkin App Contact"}
					%span @napkindesign

				%a.inline-link{:href=>"http://www.facebook.com/designwithnapkin", :alt=>"Napkin App Contact"}
					%span Facebook

