---
title: "Napkin - Design Quick Mocks On Your Phone"
description: "Napkin is an app for designing quick mocks on your phone"
---

- @body_class = 'page-home'
- @page_class = ''

%header
	.l-module
		.l-container--narrow
			.one-half.intro-text-container
				#logo.logo
					%img{:src=>"img/napkin-logo.png", :alt=>"Napkin Logo"}	
					%p.text-white
						Napkin
				.intro-text#intro-text
					%h1.header.text-white
						Design quick mocks on your phone.

				%a.primary-btn#primary-button{:href=>"http://www.scottsavarie.ca", :alt=>"App Store Link"}
					%span Get it on the app store
			.one-half.graphic-wrapper#graphic-wrapper
				.video-wrapper
					<video webkit-playsinline id="home-video--intro"class="home-video" autoplay="autoplay" loop="true"><source src="videos/app-video.mp4" type="video/mp4" /><source src="videos/app-video.ogv" type="video/ogv"/><source src="videos/app-video.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=videos/123_bannervid.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--></object></video>
				.phone-mask
					%img.graphic{:src=>"img/iphone.png", :alt=> "Napkin Mockup"}


%section.l-module.white-bg
	%h1.header.text-center.features
		Features
	.l-container--narrow
		%section
			%ul.feature-list
				%li
					%h2
						Snap to Grid
					%p
						Snap shapes to the point grid you choose
				%li
					%h2
						Layering
					%p
						Move layers up or down
				%li
					%h2
						Icons
					%p
						Select from a library of icons
				

				%li
					%h2
						Editing Controls
					%p
						Double Tap anything to edit it
				%li
					%h2
						Photos
					%p
						Add photos from your camera roll
				%li
					%h2
						Saving
					%p
						The Canvas should be saved automatically


				%li
					%h2
						Duplicating
					%p
						Two-finger tap to duplicate

				%li
					%h2
						Locking
					%p
						Lock or unlock layers into place


				%li
					%h2
						Editing Controls
					%p
						Double Tap anything to edit it



%section.l-module.white-bg
	%h1.header.text-center.features
		Napkin Sketches
	.l-container--narrow	
		%img{:src=>"img/designed-mock.png", :alt=>"Designed With Napkin"}				
		%p.sketches-text
			Here are some quick mock ups that show what is possible with Napkin. It's surprising how fast one can quickly sketch out their idea. The point is not to make final polished designs, but rather quick mocks and send it to yourself for later. 

%footer.footer#footer

	.l-container--narrow
		#logo.footer-logo
			%img{:src=>"img/napkin-logo.png", :alt=>"Napkin Logo"}	
			%p.text-white
				Napkin
		.divider
		%p.text-white.one-half.fl
			Designed and coded by <a class="inline-link" href = "http://www.scottsavarie.ca">Scott Savarie</a>
		%a.one-half.fl.contact-link.inline-link{:href=>"mailTo:hello@napkinapp.com", :alt=>"Napkin App Contact"}
			%span hello@napkinapp.com

