#{headings(all)}
	+helvetica-light


p
	+helvetica-light
	color: $c-darkgrey
	line-height: 1.625
	margin-bottom: $l-s  

.header
	font-size: $f-xl
	font-weight: 200
.text-white
	color: white

.text-center	
	text-align: center

.text-right
	text-align: right	

