#{headings(all)}
	font-weight: 600


p
	color: $c-darkgrey
	line-height: 1.625
	margin-bottom: $l-s  
	

.header
	font-size: $f-xl
	font-weight: 300
.text-white
	color: white

.text-center	
	text-align: center

.text-right
	text-align: right	

