
.primary-btn
	padding: $l-s
	border: 1px solid $c-darkgrey
	+border-radius(3px)
	font-weight: 400
	color: $c-darkgrey !important
	text-transform: uppercase
	font-weight: 500
	font-size: $f-s
	padding: 1em
	&:hover
		+single-transition(all, 0.15s, ease-in-out)
		border: 1px solid $c-blue
		color: $c-blue !important




.apple
	font-size: 1.25em
	padding-right: 8px