
.primary-btn
	padding: $l-s
	border: 2px solid rgba(255,255,255,0.5)
	+border-radius(3px)
	font-weight: 400
	color: rgba(255,255,255,0.5)
	text-transform: uppercase
	font-weight: 500
	font-size: $f-s
	padding: 1em
	&:hover
		+single-transition(all, 0.15s, ease-in-out)
		background: rgba(255,255,255,1)
		color: $c-blue
		+box-shadow(0 4px 10px 2px rgba(black, 0.18)) 